asgiref
cachetools
certifi
cffi
chardet
charset-normalizer
crispy-bootstrap5
crispy-tailwind
cryptography
cssselect
cssutils
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-smtp-ssl
EasyProcess
emails
entrypoint2
environ
filelock
idna
lxml
MouseInfo
mss
Pillow
platformdirs
premailer
psycopg2
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyOpenSSL
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
python-dotenv
pytweening
requests
six
sqlparse
typing_extensions
tzdata
urllib3
virtualenv